.ipynb_checkpoints/
data/
.DS_Store
.idea/
generated/
__pycache__/

# Ignore all CoCo-Ex files except modified scripts
lib/*
!lib/CoCo-Ex
lib/CoCo-Ex/*
!lib/CoCo-Ex/CoCo-Ex_entity_extraction.py
!lib/CoCo-Ex/CoCo-Ex_overhead_filter.py

